.title{
	/* Style for "Coming Soo" */
position: absolute;
top: 239px;
left: 537px;
width: 246px;
height: 54px;
color: #585858;
font-family: "Segoe UI", arial;
font-size: 40px;
font-weight: 600;
}

.subscribe{
	/* Style for "Please Sup" */
position: absolute;
top: 307px;
left: 395px;
width: 535px;
height: 28px;
color: #b1b1b1;
font-family: "Segoe UI", arial;
font-size: 20px;
font-weight: 600;
}

body{
	background-color: #fafafa;
}

.sub{
	/* Style for "Rectangle" */
position: absolute;
top: 387px;
left: 563px;
width: 178px;
height: 54px;
border-radius: 3px;
background-color: #ff0000;
}

.alert{
	display: none;
}
@media (max-width: 768px) {
	.title, .subscribe, .sub{
		display: none;
	}

	.alert{
				/* Style for "Coming Soo" */
position: absolute;
left: 261px;
width: 246px;
height: 54px;
color: #585858;
font-family: "Segoe UI";
font-size: 40px;
font-weight: 600;
display: block;
	}
}

@media (max-width: 360px) {
	.title, .subscribe, .sub{
		display: none;
	}

	.alert{
		/* Style for "Coming Soo" */
position: absolute;
left: 88px;
width: 185px;
height: 40px;
color: #585858;
font-family: "Segoe UI";
font-size: 30px;
font-weight: 600;
display: block;
	}
}
